[data-bs-theme="dark"] {
  --red-fish: rgb(69, 18, 1);
  --white-fish: rgb(151, 137, 126);
  --black-fish: black;
  --gold-fish: rgb(59, 46, 3);
}

[data-bs-theme="light"] {
  --red-fish: rgb(155, 39, 0);
  --white-fish: rgb(175, 186, 190);
  --black-fish: rgb(33, 25, 35);
  --gold-fish: rgb(232, 178, 0);
}

.koi-shadow {
  filter: drop-shadow(#00000075 0 0 0.5vw);
  mix-blend-mode: multiply;
}
.koi, .koi-shadow {
  position: absolute;
  top: 0;
  left: 0;
  // opacity: 0.7;
  transition: all 0s, color 1s;

  * {
    transition: all 0s, color 1s;
  }

  .koi-svg {
    // position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &-red {
    fill: var(--red-fish);
  }

  &-white {
    fill: var(--white-fish);
  }

  &-black {
    fill: var(--black-fish);
  }

  &-gold {
    fill: var(--gold-fish);
  }

}