@use 'sass:color';
@use 'sass:map';

$koi-colors: (
  "light": (
    "orange": (
      "base": rgb(205, 78, 0),
    ),
    "white": (
      "base": rgb(175, 186, 190),
    ),
    "white-red": (
      "base": rgb(175, 186, 190),
      "spot": rgb(170, 0, 0),
    ),
    "white-orange": (
      "base": rgb(175, 186, 190),
      "splotch": rgb(205, 78, 0),
    ),
    "black": (
      "base": rgb(72, 67, 105),
    ),
    "gold": (
      "base": rgb(232, 178, 0),
    ),
    "gold-black": (
      "base": rgb(232, 178, 0),
      "splotch": rgb(72, 67, 105),
    ),
    "red": (
      "base": rgb(214, 45, 29),
    ),
    "tancho": (
      "base": rgb(175, 186, 190),
      "head": rgb(214, 45, 29),
    ),
  ),
  "dark": (
    "orange": (
      "base": rgb(100, 40, 4),
    ),
    "white": (
      "base": rgb(92, 107, 112),
    ),
    "white-red": (
      "base": rgb(92, 107, 112),
      "spot": rgb(94, 8, 0),
    ),
    "white-orange": (
      "base": rgb(92, 107, 112),
      "splotch": rgb(100, 40, 4),
    ),
    "white-black": (
      "base": rgb(92, 107, 112),
      "splotch": rgb(17, 13, 17),
    ),
    "black": (
      "base": rgb(17, 13, 17),
    ),
    "gold": (
      "base": rgb(123, 98, 16),
    ),
    "gold-black": (
      "base": rgb(123, 98, 16),
      "splotch": rgb(17, 13, 17),
    ),
    "red": (
      "base": rgb(94, 8, 0),
    ),
    "tancho": (
      "base": rgb(92, 107, 112),
      "head": rgb(94, 8, 0),
    ),
  )
);

// @function koi-color($color) {
//   @return
// }

@each $theme, $colors in $koi-colors {
  [data-bs-theme="#{$theme}"] {
    @each $color, $rgbs in $colors {
      @debug(if($theme == 'light', 80, 50));
      .koi-#{$color} {
        @include koi-svg(
          $base: map.get($rgbs, 'base'),
          $spot: if(map.get($rgbs, 'spot'), map.get($rgbs, 'spot'), rgba(255, 255, 255, 0)),
          $splotch: if(map.get($rgbs, 'splotch'), map.get($rgbs, 'splotch'), rgba(255, 255, 255, 0)),
          $head: if(map.get($rgbs, 'head'), map.get($rgbs, 'head'), rgba(255, 255, 255, 0)),
          $alpha: if($theme == 'light', 80, 50),
        );
      }
      .koi-shadow {
        @include koi-svg(
          $base: if($theme == 'light', $pond-bg-light, $pond-bg-dark),
          $spot: if($theme == 'light', $pond-bg-light, $pond-bg-dark),
          $splotch: if($theme == 'light', $pond-bg-light, $pond-bg-dark),
          $head: if($theme == 'light', $pond-bg-light, $pond-bg-dark),
          $alpha: 50,
        );
      }
    }
  }
}

.koi-shadow {
  filter: drop-shadow(#00000075 0 0 0.5vw);
  mix-blend-mode: multiply;
}
.koi, .koi-shadow {
  position: absolute;
  top: 0;
  left: 0;
  // opacity: 0.7;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0s, color 1s;

  * {
    transition: all 0s, color 1s;
  }
}